header nav a img {
    float: left;
    margin: 0px;
    height: 80px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul a {
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    padding: 15px 5px;
}

footer {
    padding:0;
    margin: 50px 0px 0px 0px;
    bottom:0px;
    left:0px;
}

footer div.row {
    width:100%;
    margin:0px;
    background-color:rgb(40, 40, 40);
    color: white;
    padding:10px 20px;
    font-size:17px;
}

footer div#contact {
    background-color:rgb(60, 60, 60);
}

footer div.row div.col-lg-4 {
    vertical-align:top;
}

footer div.row div.col-lg-4 ul li {
    padding: 8px 12px;
}

body {
    background-color:#f8f9fa;
}
