header img {
    float: left;
    margin: 0px;
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}
nav ul li {
    float: left;
}
nav ul li.active {
    color:#666;
}
nav ul a {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 15px 5px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

div#content {
    display: table-cell;
    width: 100%;
    padding: 15px;
}
div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
}
footer {
    padding: 5px 20px;
}